body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
/************** Landing Page awal ****************/
#Profil{
    background-image: url(../img/architecture-buildings-city-220444.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 660px;
    text-align: center;
}
.nama h1{
    padding: 30px;
    color: white;
    font-size: 100px;
    margin: 0;
}
.profil img{
    height: 300px;
}
.profil p{
    padding: 30px;
    color: white;
    font-size: 23px;
}

@media screen and (max-width: 1440px){
    #Profil{
        background-image: url(../img/architecture-buildings-city-220444.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 660px;
        text-align: center;
    }
    .nama h1{
        padding: 30px;
        color: white;
        font-size: 100px;
        margin: 0;
    }
    .profil img{
        height: 280px;
    }
    .profil p{
        padding: 30px;
        color: white;
        font-size: 23px;
    }
}
@media screen and (max-width: 1024px){
    #Profil{
        background-image: url(../img/architecture-buildings-city-220444.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 600px;
        text-align: center;
    }
    .nama h1{
        padding: 20px;
        color: white;
        font-size: 90px;
        margin: 0;
    }
    .profil img{
        height: 280px;
    }
    .profil p{
        padding: 30px;
        color: white;
        font-size: 20px;
    }
}
@media screen and (max-width: 768px){
    #Profil{
        background-image: url(../img/architecture-buildings-city-220444.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 500px;
        text-align: center;
    }
    .nama h1{
        padding: 15px;
        color: white;
        font-size: 80px;
        margin: 0;
    }
    .profil img{
        height: 250px;
    }
    .profil p{
        padding: 30px;
        color: white;
        font-size: 20px;
    }
}
@media screen and (max-width: 425px){
    #Profil{
        background-image: url(../img/architecture-buildings-city-220444.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 600px;
        text-align: center;
    }
    .nama h1{
        padding: 15px;
        color: white;
        font-size: 80px;
        margin: 0;
    }
    .profil img{
        height: 200px;
    }
    .profil p{
        padding: 30px;
        color: white;
        font-size: 20px;
    }
}
@media screen and (max-width: 375px){
    #Profil{
        background-image: url(../img/architecture-buildings-city-220444.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 600px;
        text-align: center;
    }
    .nama h1{
        padding: 30px;
        color: white;
        font-size: 60px;
        margin: 0;
    }
    .profil img{
        height: 200px;
    }
    .profil p{
        padding: 30px;
        color: white;
        font-size: 20px;
    }
}
@media screen and (max-width: 320px){
    #Profil{
        background-image: url(../img/architecture-buildings-city-220444.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 600px;
        text-align: center;
    }
    .nama h1{
        padding: 30px;
        color: white;
        font-size: 50px;
        margin: 0;
    }
    .profil img{
        height: 200px;
    }
    .profil p{
        padding: 30px;
        color: white;
        font-size: 20px;
    }
}


/*************** Biodata Profil ******************/
#Biodata{
    background-image: url(../img/komputer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 660px;
    margin: 0;
    padding: 0;
}
#Teks {
    float: right;
    margin: 50px 50px 50px 50px;
    padding: 100px 100px;
    background-color: #f1f1f1;
    box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.20);
    opacity: 0.79;
    width: 50%;
    height: 50%;
    text-align: right;
}
.teks h1{
    font-size: 55px;
    margin: 0 0 30px 0;
}

.teks h5{
    margin: 0 0 8px 0;
    font-size: 30px;
}

@media screen and (max-width:1440px){
    #Biodata{
        background-image: url(../img/komputer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 660px;
        margin: 0;
        padding: 0;
    }
    #Teks {
        margin: 30px 30px 30px 30px;
        padding: 30px 30px;
        background-color: #f1f1f1;
        box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.20);
        opacity: 0.79;
        width: 60%;
        height: 80%;
        text-align: right;
    }
    .teks h1{
        font-size: 60px;
        margin: 0 0 30px 0;
    }

    .teks h5{
        margin: 0 0 5px 0;
        font-size: 40px;
    }

}
@media screen and (max-width:1024px){
    #Biodata{
        background-image: url(../img/komputer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 550px;
        margin: 0;
        padding: 0;
    }
    #Teks {
        margin: 20px 20px 20px 20px;
        padding: 20px 20px;
        background-color: #f1f1f1;
        box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.20);
        opacity: 0.79;
        width: 60%;
        height: 80%;
        text-align: right;
    }
    .teks h1{
        font-size: 70px;
        margin: 0 0 20px 0;
    }

    .teks h5{
        margin: 0 0 8px 0;
        font-size: 33px;
    }

}
@media screen and (max-width:768px){
    #Biodata{
        background-image: url(../img/komputer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        margin: 0;
        padding: 0;
    }
    #Teks {
        margin: 20px 20px 20px 20px;
        padding: 20px 20px;
        background-color: #f1f1f1;
        box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.20);
        opacity: 0.79;
        width: 60%;
        height: 80%;
        text-align: right;
    }
    .teks h1{
        font-size: 60px;
        margin: 0 0 20px 0;
    }

    .teks h5{
        margin: 0 0 8px 0;
        font-size: 25px;
    }

}
@media screen and (max-width:425px){
    #Biodata{
        background-image: url(../img/komputer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        margin: 0;
        padding: 0;
    }
    #Teks {
        margin: 20px 20px 20px 20px;
        padding: 20px 20px;
        background-color: #f1f1f1;
        box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.20);
        opacity: 0.79;
        width: 80%;
        height: 80%;
        text-align: right;
    }
    .teks h1{
        font-size: 60px;
        margin: 0 0 20px 0;
    }

    .teks h5{
        margin: 0 0 8px 0;
        font-size: 25px;
    }

}
@media screen and (max-width:375px){
    #Biodata{
        background-image: url(../img/komputer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        margin: 0;
        padding: 0;
    }
    #Teks {
        margin: 20px 20px 20px 20px;
        padding: 20px 20px;
        background-color: #f1f1f1;
        box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.20);
        opacity: 0.79;
        width: 80%;
        height: 80%;
        text-align: right;
    }
    .teks h1{
        font-size: 60px;
        margin: 0 0 20px 0;
    }

    .teks h5{
        margin: 0 0 8px 0;
        font-size: 25px;
    }

}
@media screen and (max-width:320px){
    #Biodata{
        background-image: url(../img/komputer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 500px;
        margin: 0;
        padding: 0;
    }
    #Teks {
        margin: 20px 20px 20px 20px;
        padding: 30px 30px;
        background-color: #f1f1f1;
        box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.20);
        opacity: 0.79;
        width: 70%;
        height: 70%;
        text-align: right;
    }
    .teks h1{
        font-size: 40px;
        margin: 0 0 20px 0;
    }

    .teks h5{
        margin: 0 0 3px 0;
        font-size: 20px;
    }

}


/**************** Pendidikan ******************/
#Sekolah{
    background-image: url(../img/blank-composition-desk-606539.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 660px;
    margin: 0;
    padding: 0;
    text-align: center;
}
#Item{
    background-color: #f1f1f1;
    box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.20);
    opacity: 0.79;
    width: 100%;
    height: 80%;
    transform: translateY(10%);
}
.item h3{
    font-size: 80px;
    margin: 0;
    padding: 0;
}
.row img{
    margin: 30px;
    width: 300px;
    height: 300px;
}

@media screen and (max-width:1440px){
    #Sekolah{
        background-image: url(../img/blank-composition-desk-606539.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 660px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #Item{
        background-color: #f1f1f1;
        box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.20);
        opacity: 0.79;
        width: 100%;
        height: 60%;
        transform: translateY(20%);
    }
    .item h3{
        font-size: 70px;
        margin: 0;
        padding: 0;
    }
    .row img{
        margin: 10px;
        width: 230px;
        height: 230px;
    }
}
@media screen and (max-width:1024px){
    #Sekolah{
        background-image: url(../img/blank-composition-desk-606539.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #Item{
        background-color: #f1f1f1;
        box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.20);
        opacity: 0.79;
        width: 100%;
        height: 70%;
        transform: translateY(25%);
    }
    .item h3{
        font-size: 40px;
        margin: 0;
        padding: 0;
    }
    .row img{
        margin: 5px;
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width:768px){
    #Sekolah{
        background-image: url(../img/blank-composition-desk-606539.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #Item{
        background-color: #f1f1f1;
        box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.20);
        opacity: 0.79;
        width: 100%;
        height: 60%;
        transform: translateY(35%);
    }
    .item h3{
        font-size: 40px;
        margin: 0;
        padding: 0;
    }
    .row img{
        margin: 5px;
        width: 170px;
        height: 170px;
    }
}
@media screen and (max-width:425px){
    #Sekolah{
        background-image: url(../img/blank-composition-desk-606539.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 450px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #Item{
        background-color: #f1f1f1;
        box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.20);
        opacity: 0.79;
        width: 100%;
        height: 88%;
        transform: translateY(10%);
    }
    .item h3{
        font-size: 40px;
        margin: 0;
        padding: 0;
    }
    .row img{
        margin: 5px;
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width:375px){
    #Sekolah{
        background-image: url(../img/blank-composition-desk-606539.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #Item{
        background-color: #f1f1f1;
        box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.20);
        opacity: 0.79;
        width: 100%;
        height: 80%;
        transform: translateY(10%);
    }
    .item h3{
        font-size: 40px;
        margin: 0;
        padding: 0;
    }
    .row img{
        margin: 5px;
        width: 120px;
        height: 120px;
    }
}
@media screen and (max-width:320px){
    #Sekolah{
        background-image: url(../img/blank-composition-desk-606539.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #Item{
        background-color: #f1f1f1;
        box-shadow: 10px 20px 20px 10px rgba(0,0,0,0.20);
        opacity: 0.79;
        width: 100%;
        height: 80%;
        transform: translateY(10%);
    }
    .item h3{
        font-size: 40px;
        margin: 0;
        padding: 0;
    }
    .row img{
        margin: 5px;
        width: 120px;
        height: 120px;
    }
}


/*************** Footer *******************/
#Footer{
    background-color: #3c3d47;
    width: 100%;
    height: 60px;
    text-align: center;
}
.footer h3{
    transform: translateY(25%);
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:1440px){
    #Footer{
        background-color: #3c3d47;
        width: 100%;
        height: 60px;
        text-align: center;
    }
    .footer h3{
        transform: translateY(25%);
        color: white;
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width:1024px){
    #Footer{
        background-color: #3c3d47;
        width: 100%;
        height: 50px;
        text-align: center;
    }
    .footer h3{
        transform: translateY(25%);
        color: white;
        font-size: 25px;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width:768px){
    #Footer{
        background-color: #3c3d47;
        width: 100%;
        height: 50px;
        text-align: center;
    }
    .footer h3{
        transform: translateY(25%);
        color: white;
        font-size: 25px;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width:425px){
    #Footer{
        background-color: #3c3d47;
        width: 100%;
        height: 40px;
        text-align: center;
    }
    .footer h3{
        transform: translateY(25%);
        color: white;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width:375px){
    #Footer{
        background-color: #3c3d47;
        width: 100%;
        height: 40px;
        text-align: center;
    }
    .footer h3{
        transform: translateY(25%);
        color: white;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width:320px){
    #Footer{
        background-color: #3c3d47;
        width: 100%;
        height: 40px;
        text-align: center;
    }
    .footer h3{
        transform: translateY(25%);
        color: white;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
}