body{
    background-color: black;

    color: white;
    font-size:25px;
}
@media(min-width: 320px) and(max-width:767px)
.container{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.table-container{
    width:100%;
}
.title{
    background-color: #0F6177;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    margin:0;
    margin-bottom: 15px;
    font-size: 25px;
}
hr{
    margin:0;
}
.profile{
    width: 100%;
    font-size:20px;
}
.profile img{
    width:200px;
    float: left;
    margin-right: 15px;
}
.table-container td{
    padding: 10px;

}
.education{
    font-size: 20px;
}
.skills{
    font-size: 20px;
}
.sosmed img{
    width:50px;
    float: left;
    margin-right: 15px; 
}
}