html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body{
    background-color: black;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    color: #f8fafc;
    text-align: left;
    
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: coral;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: rgb(165, 128, 4);
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  

  .heading-section {
    position: relative; }
    .heading-section .subheading {
      font-size: 13px;
      font-weight: 500;
      display: block;
      margin-bottom: 5px;
      text-transform: uppercase;
      color: black;
      letter-spacing: 3px; }
    .heading-section h1.big {
      position: absolute;
      top: 0px;
      left: 0;
      font-size: 7vw;
      color: rgba(255, 255, 255, 0.1);
      z-index: -1;
      font-weight: 900; }
      .heading-section h1.big.big-2 {
        right: 0; }
    .heading-section h2 {
      font-size: 50px;
      font-weight: 700; }
      .heading-section h2 span {
        font-weight: 400; }
      @media (max-width: 767.98px) {
        .heading-section h2 {
          font-size: 38px; } }
    .heading-section.heading-section-white .subheading {
      color: rgba(255, 255, 255, 0.9) !important; }
    .heading-section.heading-section-white h2 {
      color: #fff; }
    .heading-section.heading-section-white p {
      color: rgba(255, 255, 255, 0.9); }

      .ftco-about .img-about {
        width: 100%;
        z-index: 0;
        position: relative; }
        .ftco-about .img-about .img {
          display: block;
          width: 100%;
          position: relative;
          z-index: 1; }


          .ftco-section {
            padding: 7em 0;
            position: relative; }
            @media (max-width: 767.98px) {
              .ftco-section {
                padding: 6em 0; } }

                .container {
                  width: 100%;
                  padding-right: 15px;
                  padding-left: 15px;
                  margin-right: auto;
                  margin-left: auto; }
                  @media (min-width: 320px) {
                    .container {
                      max-width: 767px; } }
                  @media (min-width: 768px) {
                    .container {
                      max-width: 1024px; } }
                 
                
                .container-fluid {
                  width: 100%;
                  padding-right: 15px;
                  padding-left: 15px;
                  margin-right: auto;
                  margin-left: auto; }

                  .row {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    margin-right: -15px;
                    margin-left: -15px; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
    

    .mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }

  .resume-wrap {
    width: 100%;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    .resume-wrap .date {
      font-weight: 900;
      font-size: 26px;
      color: #ffbd39; }
    .resume-wrap h2 {
      font-size: 26px; }
    .resume-wrap .position {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 3px;
      text-transform: uppercase; }

  .ftco-about ul.about-info {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%; }
    .ftco-about ul.about-info li {
      list-style: none;
      margin-bottom: 10px; }
      .ftco-about ul.about-info li span {
        width: calc(100% - 130px); }
        .ftco-about ul.about-info li span:first-child {
          font-weight: 600;
          color: #fff;
          width: 130px; }

          .ftco-about .counter-wrap .text p {
            font-size: 20px; }
            .ftco-about .counter-wrap .text p span {
              font-weight: 400;
              color: #fff; }
            .ftco-about .counter-wrap .text p span.number {
              font-weight: 600;
              color: #ffbd39; }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(233, 218, 12);
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .sosmed{
    position: fixed;
    z-index: 9;
    width: 100%;
    text-align: center;
    bottom: 0;
    
  }

  @media (min-width: 320px) and (max-width: 767px) {}